@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@media screen {
  .content .search-highlight {
    text-shadow: none;
  }

  table {
    float: left;
    clear: left;
    display: table;
    margin-left: 28px;
    margin-right: 28px;
    @include calc(width, '50% - 56px');
  }

  blockquote > p {
    @include calc(width, '100% - 28px');
  }

  .content p, .content ul {
    float: left;
    clear: left;
    width: 50%;
    margin-right: 0;
  }

  aside {
    clear: left;
  }

  pre:not(._) + pre:not(._),
  pre._ + pre._{
    padding-top: 0;
  }

  .highlight._ {
    float: left;
    clear: left;
    background-color: white;
    color: #333;
    text-shadow: 0 1px 0 #fff;
  }
}

@media screen and (max-width: $phone-width) {
  .content {
    table {
      @include calc(width, '100% - 56px');
    }

    p, ul {
      width: 100%;
    }
  }
}
